* {
    box-sizing: border-box;
}

body {
    font-family: 'DM Serif Display', serif;
    background-color: #0f0500;
    font-size: 10px;
    color: white;
}

.menu {
    width: 60%;
    height: 20vh;
    padding: 20px;
}

.menu-list {
    list-style: none;
}

.menu-list > li {
    display: inline;
}

.menu-list > li > a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3.0em;
    transition: all 0.2s ease-in-out;
}

.menu-list > li > a:hover {
    color: #fdb833;
}

.menu-list-item {
    padding: 5px;
}

.presentation {
    
}

.brand {
    color: #ffd07b;
    font-family: 'Literata', serif;
    font-size: 4.5em;
    font-weight: bolder;
    text-align: center;
    position: relative;
}

.brand > a {
    text-decoration: none;
}