* {
    box-sizing: border-box;
    font-size: 1.5em;
}

body {
    font-family: 'DM Serif Display', serif;
    background-color: black;
    font-size: 10px;
    color: white;
}

.menu {
    width: 60%;
    height: 20vh;
    padding: 20px;
}

.menu-list {
    list-style: none;
}

.menu-list > li {
    display: inline;
    padding: 10px;
}

.menu-list > li > a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .5em;
    transition: all 0.2s ease-in-out;
}

.menu-list > li > a:hover {
    color: #fdb833;
}

.menu-list-item {
    padding: 5px;
}

.presentation {
    
}

.brand {
    color: #ffd07b;
    font-family: 'Cinzel', serif;
    font-size: 1.6em;
    text-align: center;
}

.brand > a {
    text-decoration: none;
}